@media screen and (min-width: 768px) {
  .two ol {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.list-group ol {
  counter-reset: item;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
