.list-item li { display: block; 
    padding: 10px;
}

.no-underline:hover{
    text-decoration: none;
}

.list-item li:before { 
    content: counter(item) "  "; 
    counter-increment: item;
    font-weight: 600;
    margin: 0px 20px 0px 0px;
}

.dark-list{
    color: white;
    border-bottom: 1px solid white;
}

.dark-list:hover{
    background-color: #ADCDFF40;
}

.light-list{
    color: black;
    border-bottom: 1px solid black;
}

.light-list:hover{
    background-color: #ADCDFF40;
    color: black;
}


