@import url("https://use.typekit.net/top4nrr.css");

:root {
  --mainColor:#FFB444;
  --SecondaryColor: #3a86ff;
  --headlineColor: #000000;
  --textColor:#454545;
}

body {
  background-color: var(--background);
  color: var(--textColor);
  margin: auto;
  font-family: proxima-nova, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headlineColor);
  max-width: 1000px;
  margin: auto;
  padding: 20px 10px;
}

h1 {
  font-size: 2.15rem;
  font-weight: 400;
}

h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--SecondaryColor);
  font-weight: 800;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.15rem;
}

p,
li,
td,
.home-container {
  font-size: 1.25em;
  line-height: 2.5rem;
  max-width: 1000px;
  margin: auto;
  padding: 0px 10px;
}

p {
  margin: 20px auto;
}

blockquote p {
  border-left: 4px solid var(--SecondaryColor);
  padding: 10px 15px;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--SecondaryColor);
}

a{
  color: black;
  background-color: #FFFD77;
}

a:hover{
  color: black;
}
/* 
a {
  background: linear-gradient(
    to bottom,
    var(--SecondaryColor) 0%,
    var(--SecondaryColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0px;
  text-decoration: none;
  color: var(--headlineColor);
  transition: background-size 0.2s;
}

a:hover {
  background-size: 4px 50px;
  color: var(--headlineColor);
  text-decoration: none;
} */

hr {
  margin: 50px 0px;
}

figcaption p {
  font-family: ivyjournal, serif;
  font-size: 1.15rem;
  margin: 10px auto;
}

iframe,
figure {
  padding: 2%;
}

video {
  padding: 10px 0px;
}

figcaption {
  text-align: center;
}

