.navbar {
    color: black;
    padding-bottom: 30px;
}

.underline:hover{
    color: var(--SecondaryColor);
}
/* 
nav h4 {
  color: white;
  display: inline;
}

nav h4:hover{
  text-decoration: underline;
}


.navbar-brand{
  background-color: transparent;
}

.nav-link {
  color: white !important;
  background-color: transparent;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
} */
