@import url("https://use.typekit.net/top4nrr.css");

:root {
  --mainColor: #3282b8;
  --secondaryColor: #bbe1fa;
  --headlineColor: #1e1d1f;
  --textColor: #5a5861;
  --background: #FFFFFF;
}

html{
  background-image: url(../images/pipes.png);
}
html, body{
  background-color: var(--background);
  color: var(--textColor);
  min-height: 95vh;
}

.container {
  margin: auto;
  font-family: proxima-nova, sans-serif;
  max-width: 1350px;
}

div{
  max-width: 80vw;
  margin: auto;
}

h2, h1, h3, h4{
  color: var(--headlineColor);
  font-family: ivyjournal, serif !important;
  font-weight: 600;
  line-height: 2.75rem;
}

h1{
  font-size: 2.5rem;
  color: var(--mainColor);
  margin: 20px 0px;
}

h2{
  font-size: 1.75rem;
}

h3{
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

strong{
  font-weight: 600;
  color: var(--headlineColor);
}

p, li, td{
  font-size: 1.15rem;
  line-height: 2rem;
}

blockquote{
  border-left: 6px solid;
  color: var(--mainColor);
  margin: 40px 20px;
  padding: 0px 1.5em;
}

blockquote p{
  font-family: ivyjournal, sans-serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--mainColor);
  font-weight: 500;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-family: ivyjournal, sans-serif !important;
}
.nav-link-item {
  padding-right: 2rem;
  font-family: ivyjournal, sans-serif !important;
}
.nav-link-text {
  font-family: ivyjournal, sans-serif !important;
  color: var(--textColor);
}

a {
  background:
     linear-gradient(
       to bottom, var(--secondaryColor) 0%,
       var(--secondaryColor) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: var(--textColor);
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
  color: var(--headlineColor);
  text-decoration: none;
}

hr{
  margin: 50px 0px;
  color: var(--mainColor) !important;
  
}

figure {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

figcaption p{
  font-family: ivyjournal, sans-serif;
  font-size: 0.8rem;
}


.toc {
  text-align: center;
  float: left;
  width: 100%;

}

nav{
  position:sticky; top: 0;
  z-index: 1;
  margin: 20px 0px;
  padding: 20px 0px;
  background-color: var(--background);
}