@import url("https://use.typekit.net/top4nrr.css");

:root {
  --mainColor: #3a86ff;
  --secondaryColor: #ADCDFF;
  --headlineColor: #1e1d1f;
  --textColor: #5a5861;
  --background: #ffffff;
}

html,
body {
  background-color: var(--background);
  color: var(--textColor);
  margin: auto;
  font-family: proxima-nova, sans-serif;
}

h2,
h1,
h3,
h4 {
  color: var(--headlineColor);
  font-weight: 600;
  line-height: 2.75rem;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--mainColor);
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

strong {
  font-weight: 600;
  color: var(--mainColor);
}

p,
li,
td, .home-container {
  font-size: 1.15rem;
  line-height: 2rem;
  max-width: 1000px;
  margin: auto;
}

p, .home-container {
  padding: 10px;
}

blockquote p {
  border-left: 4px solid var(--mainColor);
  padding: 10px 15px;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--mainColor);
}

a {
  background: linear-gradient(
    to bottom,
    var(--secondaryColor) 0%,
    var(--secondaryColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0px;
  text-decoration: none;
  color: var(--headlineColor);
  transition: background-size 0.2s;
}

a:hover {
  background-size: 4px 50px;
  color: var(--headlineColor);
  text-decoration: none;
}

hr {
  margin: 50px 0px;
  color: var(--mainColor) !important;
}

figcaption p {
  font-family: ivyjournal, sans-serif;
  font-size: 0.8rem;
  margin: auto;
}

nav {
  z-index: 1;
  background-color: var(--background);
  max-width: 1000px;
  margin: auto;
  padding: 20px 0px;
}

iframe,
figure{
  padding: 2%;
}

video {
  padding: 10px 0px;
}

figcaption {
  text-align: center;
}
