

/* footer h1{
    color: white;
} */
@media screen and (max-width: 768px){
    .footer-about{
        text-align: center;
    }
}
/* 
.footer-link{
    color: white;
    background-color: transparent;
}

.footer-link:hover{
    color: white;
} */
